<html>
<meta charset="utf-8">
<meta name="theme-color" content="#5bb1f9">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="manifest" href="manifest.json">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="open-iconic-bootstrap.min.css">


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('sw.js')
  .then(function(registration) {
    console.log('Registration successful, scope is:', registration.scope);
  })
  .catch(function(error) {
    console.log('Service worker registration failed, error:', error);
  });
}
</script>


<style>
.C, .S{
	color: black;
}
.H, .D{
	color: red;
}

#card {
	font-size: 6em;
}
</style>
<body >
<div id="stack-memo-helper" class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Stack Memo Helper </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" v-bind:class="page=='card2number'?'active':''">
        <a class="nav-link" href="#" @click.prevent="page = save('page', 'card2position')">Card to Position </a>
      </li>
      <li class="nav-item" v-bind:class="page=='number2card'?'active':''">
        <a class="nav-link" href="#" @click.prevent="page = save('page', 'position2card')">Position to Card </a>
      </li>
      <li class="nav-item" v-bind:class="page=='settings'?'active':''">
        <a class="nav-link" href="#" @click.prevent="page = save('page', 'settings')">Settings </a>
      </li>
    </ul>
  </div>
</nav>

<div v-if="page == 'card2position'">
	<small><strong>{{current_stack}}</strong></small>
	<div id="card">
		<div class="row">
			<div class="col text-center border "><card v-bind:name="current_card"></card></div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 px-1 py-2" v-for="(position) in card_choices">
		<button class="btn btn-warning btn-lg btn-block col"  v-on:click="guessCard(position)">{{position}}</button>
		</div>
	</div>
</div>


<div v-if="page == 'position2card'">  
	<small><strong>{{current_stack}}</strong></small>
	<div id="card">
		<div class="row">
			<div class="col text-center border font-weight-bold">{{current_position}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 px-1 py-2" v-for="(card) in position_choices">
		<button class="btn btn-warning btn-lg btn-block col"  v-on:click="guessNumber(card)"><card v-bind:name="card"></card></button>
		</div>
	</div>
</div>

<div v-if="page == 'settings'" class="row align-items-center col">
	<div class="col">
		<div class="col-12"><label class="col" for="number-of-choices">Number of Choices</label></div>
		<div class="btn-group btn-group-lg col-12">
			<button type="button" class="btn btn-primary" @click="sub()"><span class="oi oi-caret-left"></span></button>
			<div class="progress col" style="height: 40px;">
				<div class="progress-bar bg-info" role="progressbar" v-bind:style="number_of_choices_in_percent" v-bind:aria-valuenow="number_of_choices" aria-valuemin="2" aria-valuemax="10">{{number_of_choices}}</div>
			</div>
			<button type="button" class="btn btn-primary" @click="add()"><span class="oi oi-caret-right"></span></span></button>
		</div>
	</div>
	<hr class="col-12">
	<div class="col">
		<div class="col-12"><label class="col" for="number-of-choices">Stack</label></div>
		<div class="col-12 py-2" v-for="(stack, name) in decks">
			<div class="row">
				<button type="button" class="mx-1 col-9 btn" v-bind:class="current_stack==name?'btn-success btn-lg':'btn-secondary btn-sm'" @click="deck = stack"><span v-if="deck == stack" class="oi oi-check"></span> {{name}}</button>
				<button type="button" class="mx-1 col-2 btn btn-info btn-sm" @click="toggleViewStacks(name)">{{!view_stacks[name]? 'View':'Hide'}}</button>				
			</div>
			<div class="row py-2" v-if="view_stacks[name]">
				<table class="table table-sm table-striped table-bordered">
					<tr v-for="(card, index) in stack.length/4">
						<td class="text-center">
							{{1+(card - 1) * 4}}<br>
						<card v-bind:name="stack[0+(card - 1) * 4]"></card>
						</td>
						<td class="text-center">
							{{2+(card - 1) * 4}}<br>
						<card v-bind:name="stack[1+(card - 1) * 4]"></card>
						</td>
						<td class="text-center">
							{{3+(card - 1) * 4}}<br>
						<card v-bind:name="stack[2+(card - 1) * 4]"></card>
						</td>
						<td class="text-center">
							{{4+(card - 1) * 4}}<br>
						<card v-bind:name="stack[3+(card - 1) * 4]"></card>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
</div>


<!-- Modal -->
<div class="modal fade" id="wrongCardModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Wrong Card!</h5>
      </div>
      <div class="modal-body">
        <div style="font-size:1.2em" class="col text-center">
			the position of <card v-bind:name="correct_card"></card> is 
			<br>
			{{ 1+ deck.indexOf(correct_card) }}
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="newCard()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="wrongPositionModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Wrong Position!</h5>
      </div>
      <div class="modal-body">
        <div style="font-size:1.2em" class="col text-center">
			the card at position {{correct_position}} is 
			<br>
			<card v-bind:name="deck[correct_position-1]"></card>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="newPosition()">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
<script src="card.vue.js"></script>
<script src="stack-memo-helper.js"></script>
<script>
$('.navbar-nav>li>a').on('click', function(){
    $('.navbar-collapse').collapse('hide');
});
</script>

</body>
</html>