<html>
<meta charset="utf-8">
<meta name="theme-color" content="#5bb1f9">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="manifest" href="manifest.json">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">

<style>
@include("lib/css/bootstrap.min.css");
@include("lib/css/open-iconic-bootstrap.min.css")

.large{
  font-size: 1.5em;
}
</style>

<script>
@include("lib/js/vue.js")
@include("lib/js/jquery-3.2.1.slim.min.js");
@include("lib/js/popper.min.js");
@include("lib/js/bootstrap.min.js");
@include("util.js")
@include("card.vue.js")
@include("navbar.vue.js")
@include("wrong-position.vue.js")
@include("wrong-card.vue.js")
@include("card2position.vue.js")
@include("position2card.vue.js")
@include("settings.vue.js")
</script>


<style>
  .C,
  .S {
    color: black;
  }

  .H,
  .D {
    color: red;
  }
</style>

<body>
  <div id="stack-memo-helper" class="container-fluid">
    <navbar v-on:page-change="page = $event"></navbar>

    <div v-if="page == 'card2position'">
      <card2position></card2position>
    </div>

    <div v-if="page == 'position2card'">
      <position2card></position2card>
    </div>

    <div v-if="page == 'settings'">
      <settings></settings>
    </div>

    <wrong-position></wrong-position>
    <wrong-card></wrong-card>

  </div>

<script>
@include("stack-memo-helper.js")
</script>

<noscript>
    <style type="text/css">
    #stack-memo-helper  {display:none;}
    </style>
    <div>
    You don't have javascript enabled.
    </div>
</noscript>
</body>

</html>
